body {
  background: #f2f2f5;
  min-width: 1170px;
  line-height: 26px;
  color: #414a60;
  font-size: 14px; }

.main .item img {
  width: 100%; }

.main .nav > li > a {
  padding: 10px; }

.main .media-list {
  margin-top: 12px; }
  .main .media-list img {
    width: 96px;
    border-radius: 8px;
    height: 108px; }

.main h4 {
  margin-top: 0px; }

.inner {
  max-width: 1170px;
  margin: 0 auto; }

.vline {
  display: inline-block;
  width: 1px;
  height: 12px;
  vertical-align: middle;
  background: #e0e0e0;
  margin: 0 10px; }

.clear {
  overflow: hidden; }

.fr {
  float: right; }

.fl {
  float: left; }

.radio-checked {
  border: 1px solid #18c3b1 !important;
  color: #18c3b1 !important;
  box-shadow: 1px 2px 3px #d7f4f1; }

.badge {
  display: inline-block;
  background: #fa6a43;
  color: #fff;
  line-height: 22px;
  text-align: center;
  padding: 0 11px;
  border-radius: 15px;
  font-size: 12px; }

.de-sec h3 {
  font-size: 18px;
  font-weight: 400;
  color: #424a5e;
  line-height: 40px;
  padding: 12px 0;
  margin: 0px; }

.de-sider .more {
  background: url("../images/in.png") no-repeat; }

.condition-box dl:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.media {
  background: #fff;
  padding: 12px 8px; }
  .media img {
    width: 96px;
    border-radius: 8px;
    height: 108px; }
  .media .media-body {
    position: relative; }
  .media .tag {
    position: absolute;
    bottom: 0px; }

.home .sidebar {
  background-color: #FFF; }

.home .media {
  background: #fff;
  padding: 12px 8px; }

.home .media-body {
  position: relative; }

.home .tag {
  position: absolute;
  bottom: 0px; }

.home .apply {
  margin-bottom: 16px; }
  .home .apply .btn {
    text-align: left !important; }

.home .main {
  padding: 12px; }

.home .home-left {
  width: 300px;
  float: left;
  background-color: #FFF;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #ababab; }
  .home .home-left .icon-right {
    float: right; }
  .home .home-left dl {
    padding: 10px 0;
    border: 1px #f8f9fb solid;
    zoom: 1;
    color: #5dd5c8; }
  .home .home-left dt {
    font-size: 18px;
    padding: 0 14px;
    line-height: 32px;
    padding-top: 8px; }
  .home .home-left dd {
    padding: 8px 0px; }
  .home .home-left a {
    color: #61687c;
    font-size: 14px;
    display: inline-block;
    line-height: 28px;
    margin-left: 14px; }
  .home .home-left a:hover {
    color: #18c3b1; }

.home .home-right {
  width: 220px;
  box-sizing: border-box;
  float: right;
  background-color: #FFF;
  overflow: hidden;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #ababab;
  position: fixed;
  right: 12px; }
  .home .home-right .r-header {
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec; }
  .home .home-right .teacher, .home .home-right .student {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #5dd5c8;
    color: #FFF;
    margin-top: 12px;
    text-align: center;
    border-radius: 4px; }

.home .home-main {
  margin-right: 228px;
  margin-left: 308px; }
  .home .home-main .swiper-container {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto; }
  .home .home-main .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */ }
    .home .home-main .swiper-slide img {
      width: 100%; }

.home .wechat {
  margin-top: 24px; }
  .home .wechat .img-wrap {
    text-align: center;
    padding: 24px 0 12px; }

.home .tips {
  margin-top: 12px; }
  .home .tips .slideTxtBox {
    width: 300px;
    text-align: left; }
    .home .tips .slideTxtBox .hd {
      height: 30px;
      line-height: 30px;
      background: #5dd5c8;
      position: relative; }
      .home .tips .slideTxtBox .hd ul {
        float: left;
        position: absolute;
        left: 0px;
        height: 32px; }
      .home .tips .slideTxtBox .hd li {
        width: 100px;
        float: left;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        color: #fff; }
      .home .tips .slideTxtBox .hd li.on {
        height: 30px;
        background: #fff;
        color: #5dd5c8; }
    .home .tips .slideTxtBox .bd {
      padding: 8px; }
      .home .tips .slideTxtBox .bd ul {
        padding: 15px;
        zoom: 1; }
      .home .tips .slideTxtBox .bd li {
        height: 24px;
        line-height: 24px; }
      .home .tips .slideTxtBox .bd li .date {
        float: right;
        color: #999; }

.detail .navbar {
  margin-bottom: 0px !important; }

.detail .banner {
  background: #444c60;
  height: 260px;
  color: #fff; }

.detail .avator {
  position: absolute;
  height: 260px; }
  .detail .avator img {
    width: 108px;
    height: 140px;
    margin: 60px 24px; }

.detail .info {
  box-sizing: border-box;
  position: relative;
  height: 260px;
  margin-left: 140px;
  padding: 32px 24px;
  font-size: 16px; }
  .detail .info .name {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    padding: 18px 0 15px; }
    .detail .info .name .badge {
      font-size: 14px;
      vertical-align: middle;
      margin-top: -3px; }
  .detail .info p {
    padding: 12px 0; }
  .detail .info .tag-warp {
    margin-top: 12px; }
    .detail .info .tag-warp span {
      border: 1px solid #eee;
      padding: 0 8px;
      border-radius: 12px; }

.detail .de-detail {
  position: relative;
  border-right: 1px #f5f7f9 solid;
  margin-right: 360px;
  padding-bottom: 45px;
  min-height: 813px;
  margin-top: 12px; }

.detail .de-sec {
  position: relative;
  background-color: #FFF;
  padding: 0 12px 12px;
  margin-bottom: 12px; }
  .detail .de-sec h3 {
    font-weight: 400;
    color: #424a5e; }
  .detail .de-sec h3:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #5dd5c8;
    display: block; }
  .detail .de-sec .talk {
    position: absolute;
    right: 24px;
    top: 14px;
    height: 24px;
    line-height: 24px;
    border-radius: 16px; }

.detail .de-sider {
  background-color: #FFF;
  float: right;
  width: 330px; }
  .detail .de-sider h3 {
    color: #424a5e;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid #d8dbde; }
  .detail .de-sider .more {
    float: right;
    font-size: 14px;
    color: #9fa3b0;
    background-position: right -1581px;
    padding-right: 24px;
    margin-right: -10px;
    color: #5dd5c8;
    font-size: 12px;
    margin-top: 4px; }
  .detail .de-sider .alike-content {
    position: relative;
    padding: 0 12px;
    padding-top: 12px;
    border-bottom: 1px solid #d8dbde; }
  .detail .de-sider .alike-info h4 {
    margin-bottom: 12px; }
  .detail .de-sider .alike-info p {
    line-height: 1.7;
    margin-bottom: 8px; }
  .detail .de-sider .alike-avator {
    position: absolute;
    width: 64px;
    height: 64px;
    right: 12px;
    margin-top: 14px;
    border-radius: 8px;
    overflow: hidden; }
    .detail .de-sider .alike-avator img {
      width: 100%;
      height: 100%; }

.query .search-box {
  width: 60%;
  margin: 0 auto; }

.query .condition-box {
  background: #fff;
  margin-top: 40px; }
  .query .condition-box dl {
    border-bottom: 1px #f8f9fc solid;
    margin: 0 40px; }
  .query .condition-box dt {
    float: left;
    width: 50px;
    line-height: 52px;
    font-size: 16px;
    color: #4a4160; }
  .query .condition-box dd {
    margin-left: 50px;
    padding-top: 12px;
    margin-bottom: 12px; }
  .query .condition-box a.disabled {
    color: #414a60;
    border: none;
    cursor: default; }
  .query .condition-box dd a {
    display: inline-block;
    background: #fff;
    padding: 0 8px;
    border: 1px #fff solid;
    margin: 0 5px; }
  .query .condition-box dd a.selected {
    border: 1px #dadde2 solid;
    border-radius: 15px;
    line-height: 22px;
    color: #fc6c38; }
  .query .condition-box dd a:hover {
    color: #fc6c38; }

.query .query-box {
  margin-top: 20px; }

.query .q-sider {
  float: right;
  width: 270px; }

.query .q-list {
  background: #fff;
  margin-right: 300px; }

.query .media-list {
  margin-bottom: 0; }

.query .media {
  border-bottom: 1px #f2f2f5 solid;
  margin-top: 0; }

.query .promotion-img:first-child {
  margin-top: 0px; }

.query .promotion-img {
  width: 100%;
  margin-top: 20px; }
  .query .promotion-img img {
    width: 100%; }

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 30px; }
  .form-signin .checkbox {
    font-weight: normal; }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px; }
    .form-signin .form-control:focus {
      z-index: 2; }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.myresume .checkbox + .checkbox, .myresume .radio + .radio {
  margin-top: 10px; }

.myresume input[type=checkbox], .myresume input[type=radio] {
  margin: 8px 0 0;
  margin-left: -18px; }

.myresume .checkbox label {
  padding: 4px 20px; }

/* Footer */
footer {
  width: 100%;
  background: #a8acb7;
  padding: 20px 0 25px;
  margin-top: 45px;
  position: relative;
  z-index: 23; }
  footer .copyright {
    color: #eeeff3;
    font-size: 13px; }
    footer .copyright .link-beian {
      color: #fff;
      display: inline-block;
      margin-left: 10px; }
  footer .footer-logo {
    padding: 12px 0;
    width: 200px; }
    footer .footer-logo img {
      width: 100%; }
  footer p {
    color: #eeeff3;
    padding: 10px 0 15px;
    font-size: 13px; }
  footer .footer-social {
    float: right; }
    footer .footer-social p {
      text-align: right; }
    footer .footer-social a {
      -webkit-transition: none;
      transition: none;
      color: #fff; }
  footer .icon-app, footer .icon-weibo, footer .icon-weixin {
    font-size: 36px; }
  footer .app, footer .weibo, footer .weixin {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin-left: 23px;
    vertical-align: top; }
  footer .weixin {
    background-position: 10px -254px;
    position: relative; }
  footer .qrcode-weixin {
    display: none;
    position: absolute;
    right: -25px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    background: #fff; }
  footer .weixin:hover .qrcode-weixin {
    display: block; }
