.nav{
    font-size: 0;
    float: left;
    margin-left: 15px;
    height: 60px;
    line-height: 60px;

    li{
        display: inline-block;
        vertical-align: top;
        text-align: center;
        font-size: 14px;
        margin: 0 12px;

        a{
            display: block;
            padding: 0 5px;
            position: relative;
            -webkit-transition: all linear .2s;
            transition: all linear .2s;
        }
    }
    .cur {
        a, a:hover{
            color: #00d7c6;
        }
    }
}