.page-sign{
    background: #5dd5c8 url(../images/newbg.png) center 0 no-repeat;
}
body{
    height: 100%;
}
.signup{
    form {
        padding-top: 22px;
    }

    .sign-wrap {
        width: 410px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -268px 0 0 -205px;
    }
    .dropdown-select {
        display: inline-block;
        position: relative;
        background-color: #fff;
    }
    .sign-form {
        width: 324px;
        padding: 35px 43px 0;
        background: #fff;
        border-radius: 8px;
        box-shadow: 1px 2px 15px rgba(0,0,0,.3);
        // display: none;
        
        .title {
            font-weight: 400;
            font-size: 26px;
            line-height: 32px;
            color: #5dd5c8;
            position: relative;
            text-align: center;
        }

        input{
            width: 256px;
            min-width: 0;
            border-color: #e3e7ed;
            vertical-align: middle;
            font-size: 12px;
        }
        .iconfont{
            color: #c9cacc;
        }
        .form-row{
            border: 1px solid #e3e7ed;
            padding: 10px 14px;
            margin-top: 16px;
        }
        .form-btn {
            margin-top: 45px;

            .btn {
                width: 100%;
                font-size: 16px;
                height: 42px;
                line-height: 42px;
                border: none;
                cursor: pointer;
                padding: 0;
            }
        }
        .text-tip {
            color: #9fa3b0;
            text-align: center;
            padding: 28px 0 36px;
            font-size: 14px;
             a {
                color: #18c3b1;
            }
        }
    }
}
