.badge {
    display: inline-block;
    background: #fa6a43;
    color: #fff;
    line-height: 22px;
    text-align: center;
    padding: 0 11px;
    border-radius: 15px;
    font-size: 12px;
}

.de-sec h3{
    font-size: 18px;
    font-weight: 400;
    color: #424a5e;
    line-height: 40px;
    padding: 12px 0;
    margin: 0px;
}
.de-sider .more{
    background: url('../images/in.png') no-repeat;
}
.inner{
    max-width: 1170px;
    margin: 0 auto;
}
.condition-box dl:after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.media {
    background: #fff;
    padding: 12px 8px;
    img {
        width: 96px;
        border-radius: 8px;
        height: 108px;
    }
    .media-body{
        position: relative;
    }
    .media-list{
    }
    .tag {
        position: absolute;
        bottom: 0px;
    }
}




