@import 'base/reset';
#main, #wrap {
    position: relative;
}

#wrap {
    min-height: 100%;
}

.home-banner {
    width: 100%;
    height: 196px;
    display: block;
    background: url(../images/home-bg.png) center center no-repeat;
    color: #fff;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.btn {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border: 1px #5dd5c8 solid;
    font-size: 14px;
    color: #fff;
    background-color: #62D5C8;
    text-align: center;
    cursor: pointer;
}
.home-search{
    float: none;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 138px;

    .ipt-wrap {
        margin: 0 15px;
        padding-right: 70px;
        background: #fff;
        border-radius: 30px;
        -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    }
    
    .btn-search {
        background-color: #fff;
        color: #5bd4c7;
        font-size: 14px;
        position: absolute;
        border: none;
        width: 60px;
        right: 18px;
        background: 0 0;
    }

    .ipt-search {
        width: 100%;
        height: 37px;
        line-height: 32px;
        border-radius: 30px;
        border: none;
        font-size: 14px;
        color: #AEAEAE;
        text-align: left;
        padding-left: 20px;
        background: #fff;
    }
}


.main{
    .category{
        dd, dt {
            margin: 0 15px;
            color: #525252;
            font-size: 18px;
        }

        dl {
            padding-top: 18px;
            padding-bottom: 16px;
            border-bottom: 1px solid #F5F8F9;
        }
        dt {
            margin-bottom: 18px;
            color: #404855;
            font-size: 13px;
            overflow: hidden;

            img {
                width: 50px;
                height: 50px;
                margin-right: 15px;
                vertical-align: middle;
                float: left;
            }

             h4 {
                font-size: 15px;
                margin-top: 14px;
            }
        }
        dd{
            a {
                padding: 8px 16px;
                font-size: 13px;
                color: #7e8793;
                line-height: 13px;
                background: #F5F8F9;
                border-radius: 100px;
                margin: 0 8px 8px 0;
                display: inline-block;
            }
        }
        .sub-name {
            margin: 0 48px 0 65px;
        }
    } 
}



